@using Insurance.Models
@using Insurance.Models.Models

@model PolicyHolderInfoModel

<h1>Welcome, @Model.FirstName!</h1>

<div class="row" style="margin: 20px 0;">
    <div class="col-8" id="InfoContainer" style="border: 2px solid #ccc; border-radius: 10px; padding: 15px; background-color: #f9f9f9;">
        <h4>Your Policy Information</h4>
        <hr />
        <div class="row">
            <div class="col-6">
                FullName: @Model.FirstName @Model.LastName
            </div>
            <div class="col-6">
                Policy No: @Model.PolicyNumber
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Policy Type: @Model.PolicyType
            </div>
            <div class="col-6">
                Start Date: @Model.StartDate
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Email: @Model.Email
            </div>
        </div>
    </div>

    <div class="col-4" id="ButtonContainer" style="display: flex; flex-direction: column; justify-content: center;">
        <a asp-controller ="PolicyHolder" asp-action = "MakeAClaim" class="btn btn-primary" style="margin-bottom: 10px;">Make a Claim</a>
        <a class="btn btn-primary" style="margin-bottom: 10px;">Contact us</a>
        <a class="btn btn-primary" style="margin-bottom: 10px;">View Claim History</a>
    </div>
</div>
