@using Insurance.Models

@model List<UserViewModel>

<div class="card shadow border-0 my-4">

    <div class="card-header  text-black ml-0 py-3">
        <div class="row bg-primary">
            <div class="col-5">
                <h2 class=" py-2">Dashboard</h2>
            </div>

            <div class="d-flex justify-content-end">
                <form asp-controller="Admin" asp-action="AddEmployee" method="get" style="display:inline;">
                    <div class="my-2">
                        <button class="btn btn-secondary">Add Employee </button>
                    </div>
                </form>
            
                <form asp-controller="Admin" asp-action="AddAdmin" method="get" style="display:inline;">
                    <div class="my-2 mx-2">
                        <button class="btn btn-warning">Add Admin </button>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2 class=" py-2">List of all employees</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">

        <div class="row  pb-3">
            <div class="col-6">
            </div>

        </div>

        <table id="tblData" class="table table-bordered table-striped">
            <thead class="bg-opacity-10">
                <tr>
                    <th>First Name</th>
                    <th>Last Name </th>
                    <th>Email </th>
                    <th>Role </th>
                    <th>Status </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>
                            @foreach (var role in @user.Roles)
                            { 
                              <p>@role</p>
                            }

                        </td>
                        <td>
                            @if (user.IsActive)
                            {
                                <span class="">Active</span>
                            }
                            else
                            {
                                <span class="">Inactive</span>
                            }
                        </td>
                        <td>
                            <div>
                                <button type="button" class="btn btn-outline-primary">Edit</button>

                                @if (user.IsActive){

                                    <form asp-controller="Admin" asp-action="Deactivate" asp-route-id=@user.Id method="post" style="display:inline;">
                                        <button type="submit"  class="btn btn-danger">Deactivate </button>
                                    </form>
                                   
                                }
                                @if (!user.IsActive)
                                {
                                    <form asp-controller="Admin" asp-action="Activate" asp-route-id=@user.Id method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-primary">Activate </button>
                                    </form>
                                
                                }

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>